/* =========================================
   2. ESTRUCTURA (HEADER, NAV, CONTENEDORES)
   ========================================= */
header {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
}

.contenedor-encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo-principal {
    width: 75px;
    height: auto;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

nav {
    background: rgba(247, 244, 240, 0.75); /* Blanco hueso de tu paleta, semitransparente */
    backdrop-filter: blur(12px); /* El efecto de vidrio desenfocado */
    -webkit-backdrop-filter: blur(12px); /* Para Safari */
    border-bottom: 1px solid rgba(110, 71, 59, 0.15); /* Borde sutil color café */
    padding: 15px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

/* --- BOTONES DEL MENÚ (EFECTO LIQUIDO) --- */
nav a {
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.7s;
}

/* El círculo invisible que crecerá */
nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 4px;
    height: 4px;
    background-color: var(--color-primario);
    transform: translateY(100%);
    border-radius: 5px;
    transition: all 0.7s;
    z-index: -1;
}

nav a:hover::after, nav a:active::after {
    transform: scale(50); /* Hace que el pequeño círculo cubra todo el botón */
}

nav a:hover, nav a:active {
    color: var(--color-blanco);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.contenedor-interno {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

.galeria-cuadricula {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 35px;
    margin-top: 20px;
}